.partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 50vh;
  }
  
  .partners-text {
    text-align: left; 
    max-width: 50%; 
    margin-right: 10px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.23px;
  }

  .partners-text p {
    white-space: pre-wrap; 
  }
  
  .partners-image {
    display: flex; 
    justify-content: center; 
    max-width: 40%; 
  }
  
  .partners-image img {
    max-width: 80%; 
    height: auto;
  }
  

  @media (max-width: 768px) {
    .partners-container {
      flex-direction: column; /* Stack text above the image */
      gap: 20px; /* Adjust the gap for better spacing on mobile */
      height: 30vh; /* Adjust height to fit content */
    }
  
    .partners-text {
      max-width: 100%; /* Allow the text to span full width */
      text-align: center; /* Center the text on mobile */
      margin-right: 0;
    }
  
    .partners-image {
      max-width: 100%; /* Allow the image to span full width */
    }
  
    .partners-image img {
      max-width: 50%; /* Make the image responsive */
    }
  }