.hero-section {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.hero-content-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-wrapper {
  position: relative;
  width: 50%;
  margin-top: 2%;
}

.text-wrapper {
  width: 50%;
  padding: 70px;
  margin-bottom: 35px;
}

.text-wrapper h1 {
  font-family: Proxima Nova, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 87.7px;
  text-align: left;
  margin-bottom: 40px;
  color: #3C4144;
}

.text-wrapper p {
  font-family: Proxima Nova, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 43.85px;
  text-align: left;
  color: #3C4144;
}

.hero-image {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10%;
  border-radius: 110px;
}

.cta-button {
  margin-top: 10%;
  padding: 12px 30px;
  border-radius: 8px;
  color: white;
  background: #05BB6D;
  border: none;
  outline: none;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 29.23px;
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content-wrapper {
    flex-direction: column;
    align-items: center;
    width: 90%;

  }

  .image-wrapper,
  .text-wrapper {
    width: 100%;
    padding: 0;
  }

  .text-wrapper {
    padding: 20px; 
  }

  .text-wrapper h1 {
    font-size: 36px; 
    line-height: 48px;
    margin-bottom: 20px;
  }

  .text-wrapper p {
    font-size: 18px; 
    line-height: 28px;
  }

  .cta-button {
    margin-top: 10%;
    padding: 10px 20px; 
    font-size: 14px;
  }
}
