.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header-content {
  width: 80%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  transition: padding 0.3s ease;
  overflow-x: hidden; 
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-logo {
  max-height: 25px;
  width: auto;
  height: auto;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.nav-menu-item {
  position: relative;
}

.nav-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  padding: 12px 10px;
  gap: 10px;
  cursor: pointer;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: flex; 
  align-items: center;
}

.nav-button svg {
  font-size: 20px;
  vertical-align: middle; 
}

.nav-button span {
  display: inline-block; 
  vertical-align: middle; 
}

.header-auth {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-button {
  background-color: #05BB6D;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #04a65f;
}

.auth-login {
  background-color: #ffffff;
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.auth-signup {
  padding: 12px 30px;
  border-radius: 8px;
  color: white;
  background-color: #05BB6D;
  transition: background-color 0.3s ease;
}

.auth-signup:hover {
  background-color: #04a65f;
}

.header-hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header-content {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .header-auth {
    gap: 10px;
    display: none; /
  }

  .header-hamburger {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .header-nav.show-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-menu {
    flex-direction: column;
    gap: 20px;
  }

  .nav-menu-item {
    text-align: center;
  }

  .header-auth {
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .header-content {
    padding: 15px;
  }

  .header-nav.show-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .header-auth {
    flex-direction: column;
  }

  .auth-button,
  .auth-login,
  .auth-signup {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
}
